body {
    background-color: white;
    color: white;
    font-family: "Times New Roman", Times, serif
  } 
  .nav-link {
      color: #141416;
  }
  .bouncy-link {
    text-decoration: none;
    color: #007bff; 
    font-size: 14px; 
    font-weight: bold;
    padding: 10px 20px; 
    border: 2px solid transparent; 
    border-radius: 4px; 
    transition: transform 0.4s ease, color 0.4s ease; 
  }
  .bouncy-link:hover {
    transform: translateY(-3px); 
    color: #0a7bf5; 
}
  .header { 
    
  }